<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login - rhodyCode </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"  href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="icon" type="image/x-icon" href="rhody.ico">
</head>
<body>



  <div id="container">
  <div id="wideContainer">
    <center>
      <div id="loginContainer">
          <h2>Sign up!</h2>

          <form novalidate="novalidate" class="simple_form new_user" id="new_user" enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="OIwFp3op6bjbZFmyjpW8ZmY6VHjr6zouaaL93H8ZkKZWDtD/5eiaOhSj9uo11DlPb1qPZekuM53dJCqoH2Y3mg==" />


        <div class="form-group file optional user_avatar"><label class="control-label file optional" for="user_avatar">Avatar</label><input class="file optional" type="file" name="user[avatar]" id="user_avatar" /></div>
        <div class="form-group email optional user_email"><label class="control-label email optional" for="user_email">Email</label><input class="form-control string email optional" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" /></div>


        <div class="form-group password optional user_password"><label class="control-label password optional" for="user_password">Password</label><input class="form-control password optional" type="password" name="user[password]" id="user_password" /></div>
    	<em>(6 characters minimum)</em>
        <br /><br />

        <div class="form-group password optional user_password_confirmation"><label class="control-label password optional" for="user_password_confirmation">Password confirmation</label><input class="form-control password optional" type="password" name="user[password_confirmation]" id="user_password_confirmation" /></div>

        <input type="submit" name="commit" value="Create User" class="btn btn-default" data-disable-with="Create User" />
    </form>
    <br/>
    <br/>
       <a href="/users/sign_in"><button type="button" class="btn btn-secondary">Log in</button></a>






      </center>
    </div>
  </div>
</div>


<!--=============================== Footer===============================  -->
<br>
<div id="footer">
  <center><p>rhodyCode 2016 - <a href="mailto:rhodyCode@gmail.com" target="_top">rhodyCode@gmail.com</p></center>
</div>
<!--=============================== End of Footer===============================  -->

</body>
</html>
