<div id="container">

<div id="whideContainer">
  <center><h1>Help</h1></center>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Creating a Project</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">You can create a project from either the dashboard or the profile page.
        Click the 'Create Project', and you will be redirected to the project creation page. From here you
        can specify the title of the project, a short desription of the project, an image for the project,
        and a list of tags that are relevant to the project. To add more than one tag hold the control button.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Following a Project</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">One way to stay up to date on projects
          is to follow them. To follow a project navigate to the projects webpage from either the Dashboard
          or the Projects page. Once on the specific Projects page click the 'Follow' button to stay up to date.
         </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Searching for Projects</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">The Projects page includes a system to search for projects. You can filter the projects
        according to tags. Simply click on the tag you would want to search for and you will be directed to a search results page
        which will include all of the projects which use this tag.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Editing Profile</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">By clicking on your username at the top right of the page, or by clicking the dropdown menu
        beside it, you are able to edit your profile. From this page you are able to change your password, relevant tags, and
        include a short desription of yourself.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Editing a Project</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">Projects can be edited by their creator, to do so first navigate to the project's specific
          page. Then click the 'Edit' button, which will redirect you to a page where you can edit the project.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Reporting a Problem</a>
        </h4>
      </div>
      <div id="collapse6" class="panel-collapse collapse">
        <div class="panel-body">Any concerns or problems can be sent to our email address,
          <a href="mailto:rhodyCode@gmail.com" target="_top">rhodyCode@gmail.com
        </div>
      </div>
    </div>
  </div>
  <p>
    <strong>Note:</strong> If you can not find what you are looking for feel free to email us your question or problem at <a href="mailto:rhodyCode@gmail.com" target="_top">rhodyCode@gmail.com
  </p>
</div>
<div class="container-fluid text-center">
</div>
