<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login - rhodyCode </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"  href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="icon" type="image/x-icon" href="rhody.ico">
</head>

<body>





  <div id="container">
              <center>
               <h2>Log in</h2>

          <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="T2hYgr5bhXFpuTa65k+4ML8SBkNVCU+hd0HvZy7zMjKzw1Zs11GvzQn2Pws+WjpVjtnZOm0KD66nOKIsz+BqKg==" />
           <div class="field">
             <label for="user_email">Email</label><br />
             <input autofocus="autofocus" type="email" value="" name="user[email]" id="user_email" />
           </div>

           <div class="field">
             <label for="user_password">Password</label><br />
             <input autocomplete="off" type="password" name="user[password]" id="user_password" />
           </div>

             <div class="field">
               <input name="user[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" />
               <label for="user_remember_me">Remember me</label>
             </div>

           <div class="actions">
             <input type="submit" name="commit" value="Log in" data-disable-with="Log in" />
           </div>
          </form>

           <a href="/users/sign_up">Sign up</a><br />

           <a href="/users/password/new">Forgot your password?</a><br />





   </div>

</div>
</div>



<!--=============================== Footer===============================  -->
<br>
<div id="footer">
  <center><p>rhodyCode 2016 - <a href="mailto:rhodyCode@gmail.com" target="_top">rhodyCode@gmail.com</p></center>
</div>
<!--=============================== End of Footer===============================  -->

</body>
</html>
