<div id="menuContainer">
<center>
  <%= image_tag "rhodeCode.png", style:"width:125px" %>
  <% if signed_in? %>
    <a href="/"><menuButton>Dashboard</menuButton></a>
    <%= link_to "Profile", user_path(current_user) %>
    <a href="/projects"><menuButton>Projects</menuButton></a>

    <a href="/help"><menuButton>Help</menuButton></a>
    <%= link_to "Welcome, #{current_user.email}", edit_user_registration_path	 %>
  <% end %>
</center>
</div>
